{% extends "shared/_layout.html" %}
{% block title %}Login{% endblock %}
{% block main_content %}
    <div class="main">
       <div class="card rounded">
        <div class="form-wrapper container-fluid" >
            <form action="" method="POST">
                <h2>Login</h2>
                <input name="email" type="text" placeholder=" Your email address" class="form-control"
                       value="{{ email }}">
                <input name="password" type="password" placeholder=" Password" class="form-control"
                       value="{{ password }}">
                <button type="submit" class="btn btn-default" id="loginBtn2">Login</button>
                <div style="clear: both;"></div>
                {% if error %}
                    <div class="error-msg">{{ error }}</div>
                {% endif %}
            </form>
        </div>
       </div>

    </div>
{% endblock %}