{% extends "shared/_layout.html" %}
{% block title %}Clik Home{% endblock %}
{% block main_content %}

<div class="page-title">
	<body>
	<div class="container rounded" align="center" style="margin-top=20;background-color=#5386E4" id="namecard">
	<div class="card card-block d-flex rounded border-white" align="center" style= " width: 95%; float: center;">
	    <img class="card-img-top align-items-center d-flex justify-content-center" src="../../static/img/clik.PNG" alt="clik" style="float:center height:10%; width:50%;" >
    	<div class="card-body align-items-center d-flex justify-content-center">
    		<h3 class="card-title" align="center"><a href="/"><h1>Clik</h1></a></h3>
			<ul class="listgroup border border-white" >
			<li class="list-group-item">
				<div class="formgroup border border-white" action='accounts/index.html'>
				<div class="formtitle">
					<div class="input ">
						<div class="formgroup border border-white">
						<button type="button" class="btn btn-default"
					 	id='LoginBtn'>Click to Signin to Clik</button>
						</div>
					</div></div></div>
			</li>
			<li class="list-group-item">
				<div>
					<button type="button" class="btn btn-default"
					 id='CreateAccountBtn'>Click to Create a Clik Account</button>
				</div>
			</li>
		</ul>
	</div>
</div>



		</div>
	</div>
</div>






<script>
$(document).ready(function(){
	$('#LoginBtn').click(function(){
        console.log(status);
        window.location.href="/accounts/login";
	});
});


$(document).ready(function(){
	$('#CreateAccountBtn').click(function(){
        console.log(status);
        window.location.href="/accounts/register";
	});
});
</script>


</div>


{% endblock %}